body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #edf2f7;
}

h1 {
  text-align: center;
  padding: 24px 0;
}

ul {
  max-width: 640px;
  list-style: none;
  padding: 0 40px;
  margin: 0 auto;
}

ul li {
  background-color: #fff;
  box-shadow: 0 2px 4px #4385bb12;
  margin-bottom: 32px;
  padding: 24px;
  border-radius: 12px;
}

ul li h2 {
  margin: 0 0 8px 0;
}

ul li p {
  margin: 16px 0 16px 0;
}

.table-container {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}

.table-wrap {
  background-color: #fff;
  box-shadow: 0 2px 4px #4385bb12;
  padding: 24px;
  border-radius: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  text-align: left;
}

table tr {
  border-bottom: 1px solid #d6e3ed;
}

th {
  padding: 8px 0;
}

th:first-child {
  padding-left: 8px;
}

th:last-child {
  padding-right: 8px;
}

td:first-child {
  padding-left: 8px;
}

td:last-child {
  padding-right: 8px;
}

td {
  padding: 8px 0;
}

.table-button-container {
  display: flex;
}

.table-edit-button {
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
  background-color: #3ea8ff;
  color: #fff;
  padding: 4px 12px;
  text-decoration: none;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2px 4px -2px #21253840;
  border: none;
}

.table-delete-button {
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
  background-color: #f76685;
  color: #fff;
  padding: 4px 12px;
  text-decoration: none;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2px 4px -2px #21253840;
  margin-left: 10px;
  border: none;
}

.button-container {
  text-align: center;
  margin-bottom: 32px;
}

.form-container {
  max-width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  margin: 0 auto;
}

.form-input {
  margin-bottom: 20px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 700;
}

.form-input input,
.form-input textarea {
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0 4px 10px #4b57a90d;
  border: none;
  border-radius: 8px;
  padding: 12px;

}

.link-button {
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  background-color: #3ea8ff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2px 4px -2px #21253840;
  border: none;
}

.link-delete-button {
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  background-color: #f76685;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2px 4px -2px #21253840;
  margin-left: 10px;
  border: none;
}

.edit-delete-wrapper {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.search-container {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}

.search-wrap {
  background-color: #fff;
  box-shadow: 0 2px 4px #4385bb12;
  padding: 24px;
  margin-bottom: 32px;
  border-radius: 12px;
}

.search-wrap form {
  display: flex;
  align-items: center;
}

.search-input {
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0 4px 10px #4b57a90d;
  border: 1px solid #d6e3ed;
  border-radius: 8px;
  padding: 12px;
  margin-right: 16px;
}
